{% extends 'base.html' %}

{% block content %}
<h2>Lista de Compras</h2>
<a href="{% url 'nova_compra' %}" class="btn btn-primary">Nova Compra</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Total</th>
            <th>Itens</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.data }}</td>
                <td>R${{ compra.total_gasto }}</td>
                <td>
                    <ul>
                        {% for item in compra.itens.all %}
                            <li>{{ item.produto.nome }} {{ item.produto.idade_tamanho }} ({{ item.quantidade }} unidades) - R${{ item.preco_unitario }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{% url 'detalhar_compra' compra.id %}" class="btn btn-info">Ver Detalhes</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
