{% extends 'base.html' %}

{% block title %}Listar Escoteiros{% endblock %}

{% block content %}
<h2>Escoteiros</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ramo</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for escoteiro in escoteiros %}
        <tr>
            <td>{{ escoteiro.nome }}</td>
            <td>{{ escoteiro.get_ramo_display }}</td>
            <td>{{ escoteiro.data_nascimento }}</td>
            <td>
                <a href="{% url 'editar_escoteiro' escoteiro.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'excluir_escoteiro' escoteiro.id %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'novo_escoteiro' %}" class="btn btn-primary">Cadastrar Novo Escoteiro</a>
{% endblock %}
